/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  background-color: #0a0a0a;
}

article{
  line-height: 1.7rem;
  color:rgb(255, 255, 255);
}



body{
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  color:rgb(255, 255, 255);
}

header .container{
  display: grid;
  max-width: 64rem;
  width: 100%;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
}

/*header .container h1{
grid-column: 1/ -1;
background: radial-gradient(circle, #FF7733, #7effd6);
background-size: var(--bg-size) 100%;
background-position: 100% 100%;
}*/

header .container h1 {
  grid-column: 1/ -1;
  font-size: 5rem;                
  background: radial-gradient(circle, #FF7733, #7EFFD6);
  background-size: 300% 300%;
  background-position: 0% 50%;
  color: transparent;            
  background-clip: text;
  animation: move-bg 5s linear infinite alternate;
}
@keyframes move-bg {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}


header .container h2{
  grid-column: 1/4;
  grid-row: 2/3;
  padding-top: 0.8rem;
}
header .container p{
  grid-column: 1/2;
  grid-row: 3/4;
}
header .link-github{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .link-github svg{
  width: 2rem;
  height: 2rem;
}
.link-github svg path {
  /*fill: #00E599;*/
  fill:#FFD91A;
}

header h1{
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}
header h2{
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
header p{
  margin-top: 1rem;
  color: #ECE9E4;
}

nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

nav{
  border-top: #6ed7a9 solid 3px;
  border-bottom: #6ed7a9 solid 3px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

a{
  color:rgb(70, 172, 255);
}

#main{
  max-width: 53rem;
   margin-left: auto;
  margin-right: auto;
}

#main #about{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
blockquote{
  /*background-color: #B2BFFF;*/
  border-radius: 0.7rem;
  padding-left: 1.8rem;
  padding-right: 1.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-left: /*#4862f6*/ #6ed7a9 solid 8px;
}
blockquote p{
  /*background-color: #cdd5ff;*/
  color: #ff7220;
}

#main .container h2{
  background-color: #ff7220;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: inline-block;
  border-radius: 2rem;
  font-size: 1.3rem;
  color: #ffffff;
  font-family: "Space Grotesk", sans-serif;
}
#main #about .container h2{

}


#about .container ul{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, auto);
  gap: 0.3rem;
  border: /*#ace868*/ #6ed7a9 solid 5px;
  padding: 1.5rem;
  padding-left: 3.5rem;;
}

#main .container h3{
  color:#ff7220;
}

#main #contribute .container h2 {
  margin-top: 2rem;
}

#main #contribute ol li::marker {
  color: #6ed7a9;  
  font-weight: 900; 
  font-size: 1.2em;
}
















/* Remove default margin */
/*body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}*/

html {
  overflow-x: hidden;
}

/* Set core body defaults */
/*body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}*/

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Begin theme styles
