/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

article{
  line-height: 1.7rem;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
}

header .container{
  display: grid;
  max-width: 44rem;
  width: 100%;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto;
}
header .container h1{
grid-column: 1/ -1;
}
header .container h2{
  grid-column: 1/4;
  grid-row: 2/3;
  padding-top: 0.8rem;
}
header .container p{
  grid-column: 1/2;
  grid-row: 3/4;
}
header .link-github{
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .link-github svg{
  width: 1.5rem;
  height: 1.5rem;
}
header h1{
  margin-top: 0.6rem;
  margin-bottom: 0.7rem;
}
header h2{
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
header p{
  margin-top: 1rem;
  color: rgb(92, 92, 92);
}

nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
nav{
  border-top: rgb(8, 59, 154) solid 2px;
  border-bottom: rgb(8, 59, 154) solid 2px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


#about{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
blockquote{
  background-color: #e9fbe9;
  border-radius: 0.7rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-left: #82dd82 solid 10px;
}
#main .container h2{
  padding-top: 1.25rem;

}

























/* Remove default margin */
/*body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}*/

html {
  overflow-x: hidden;
}

/* Set core body defaults */
/*body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}*/

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Begin theme styles
